*{
    margin: 0 auto;
    padding:  0;
    box-sizing: border-box;
}
.button{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
}
.button{
    background-color: red;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 400px;
    right: 900px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0 #000;
    transition: all 0.3s ease;
}

.button:hover{
    background-color: aliceblue;
    color: red;
    border: 2px solid red;
    box-shadow: 5px 5px 0 red;
    cursor: pointer;
}
.button:active{
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
}
