
   /* --BINH_DEP_TRAI_VL-- */

:root{
  --f-size:12px;
}
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
  }
  .container{
  width: 1200px;
  margin: 0 auto;
}

      /* --HEADER-- */

.header li{
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.header-menu a{
  text-decoration: none;
  color: black;
  font-size: var(--f-size);
  transition: color 0.3s ease-in;
}
.header-menu a:hover{
  color: #ccc;
 }
 
.header-menu li{
  margin: 0 30px 0;
}
.header-bottom a{
  color: white;
}
.header{
  display: grid;
  grid-template-columns: 120px auto;
  grid-template-rows: 1fr 1fr;
}
.header-top{
  display: flex;
  align-items: center;
}
.header-bottom{
  display: flex;
  background-color: #F69631;
}
.logo{
  grid-row:1/3;
}
.header-menu{
  display: flex;
  align-items: center;
}
.header-bottom > .header-links{
  margin-left: 200px;
  display: flex;
  align-items: center;
}
.header-links a{
font-size: 30px;
color: #FBD5AD;
margin-left: 20px;
}
.header-top > .header-links{
margin-left: 175px;
}
.header-top input{
padding:3px;
border: 1px solid #ccc;
}


      /* --HEADER-- */

      /* --BANER-- */
    
.banner img{
  margin-top: 10px;
  width: 100%;
  height: 300px;
 transition: ease-out 0.5s;
}
.banner img:hover{
  cursor: pointer;
  scale: 0.97;
  transition: ease-in-out 0.5s;
}
.hot-news{
  display: grid;
  grid-template-columns: 300px 300px auto auto;
  grid-template-rows: 250px 190px;
  gap: 5px;
}
.hot-news-1{
position: relative;
grid-row: 1/3;
grid-column: 1/3;
transition: ease-in-out 0.5s
}
.hot-news-1 img{
  width: 605px;
  height: 445px;
}
.hot-news-1:hover{
  scale: 0.97 ;
}
.hot-news-1 a{
 position: absolute;
 right: 35px;
 left: 10px;
 bottom: 25px;
 font-size: 30px;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: bold;
 text-align: left;
 text-decoration: none;
 color: white;

}
.hot-news-2{
  grid-column: 3/5;
  position: relative;
  transition: ease-in-out 0.5s;
}
.hot-news-2:hover{
  scale: 0.97;
}
.hot-news-2 img{
  width: 590px;
  height: 250px;
}
.hot-news-2 a{
  position: absolute;
  right: 20px;
  left: 10px;
  bottom: 20px;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  color: white;
}
.hot-news-3{
    position: relative;
    transition: ease-in-out 0.5s;
}
.hot-news-3:hover{
  scale: 0.95;
}
.hot-news-3 img{
 width: 300px;
 height: 190px;
}
.hot-news-3 a{
  position: absolute;
  right: 25px;
  left: 10px;
  bottom: 20px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  color: white;
}
.hot-news-4{
  position: relative;
  transition: ease-in-out 0.5s;
}
.hot-news-4:hover{
  scale: 0.95;
}
.hot-news-4 img{
  width: 285px;
 height: 190px;
}
.hot-news-4 a{
  position: absolute;
  right: 15px;
  left: 10px;
  bottom: 20px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  color: white;
}
.overlay{
  position: absolute;
  background-color: rgba(0,0,0,0.6);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.hot-news:hover{
  cursor: pointer;
}


    /* --POST-- */

 .post{
  display: grid;
  grid-template-rows: 75px 905px;
  grid-template-columns: 770px 385px;
  gap: 10px;
  margin-top: 50px;
 }   
.news-item{
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  width: 100%;
  height: 165px;
  transition: ease-in-out 0.5s;
}
.post-title{
  grid-row: 1/2;
  margin-bottom: 27px;
  font-family: Arial, Helvetica, sans-serif;
  color: #F6952F;
  position: relative;
}
.post-title::before{
  content: "";
  width: 50px;
  height: 2px;
  background-color: #F6952F;
  bottom: 0;
  position: absolute;
  margin-top: 50px;
}

.news-item img{
  width: 250px;
  height: 150px;
  margin-right: 22px;
}

.news-item-title a{
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #000;
  font-size: 23px;
  word-spacing: 10px;
  table-layout: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.news-item:hover{
  scale:  0.96;
}
.news-item-date{
  font-size: 15px;
  color:#D0D0D0;
  margin-top: 13px;
}
.news-item-content{
  margin-top: 6px;
  font-size: 15px;
  color: #6F6F6F;
}
.top-news{
  grid-column: 2/3;
  margin-left: 35px;
  width: 100%;
}
.news-item-small-title:hover{
  scale: 0.96;
}
.news-item-small-title{
  margin-bottom: 28px;
  font-size: 18px;
  width: 100%;
  transition: ease-in-out 0.5s;
}
.news-item-small-title a{
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.top-news img{
  width: 100%;
  height: 100%;
  transition: ease-in-out 0.5s;
}
.top-news img:hover{
  scale: 0.97;
}
 

   /* --FOOTER-- */
.footer{
  color: #9D9D9D;
  background-color: #383838;
}
.footer-top{
  display: grid;
  grid-template-columns: 850px auto;
  grid-template-rows: 60px 260px;
}
.footer h1{
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px 0 45px 30px;
  font-size:  25px;
}
.footer-top p{
margin: 0 30px 15px;
font-family: Arial, Helvetica, sans-serif;
font-size: 0.9em;

}
.footer-top br+br{
  line-height: 2.5;
}
.footer-top li{
  list-style: none;
  margin-left: 30px;
}
.footer-top a{
  color: #9C9C9C;
  float: left;
  align-items: start;
  font-size: 30px;
  margin-right: 10px;
}
.footer-bottom{
  background-color: #000;
  padding: 10px 20px;
  font-family: Arial, Helvetica, sans-serif;
}